:root {
  --bg-main: #f9fafb;
  --bg-card: #ffffff;
  --bg-muted: #f3f4f6;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;
  --accent-blue: #2563eb;

  --input-bg: #ffffff;
}
/* DARK MODE */
[data-theme="dark"] {
  --bg-main: #0f172a;
  --bg-card: #0f172a;
  --bg-muted: #020617;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  --border-color: #1e293b;
  --accent-blue: #3b82f6;

  --input-bg: #020617;
}
